IBM_CLOUD_API_KEY=your_api_key_here
IBM_CLOUD_URL=your_url_here
CLOUDANT_URL=your_cloudant_url
CLOUDANT_APIKEY=your_cloudant_apikey
WATSONX_APIKEY=your_watsonx_apikey
WATSONX_URL=your_watsonx_url
NLU_APIKEY=your_nlu_apikey
NLU_URL=your_nlu_url
